#hyrox-map-container {
    display: flex;
}

.hyrox-map {
    width: 910px;
    height: 626px;
    position: relative;
}

.station-highlight {
    position: absolute;
    color: red;
    border: 3px solid;
    border-radius: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.athlete-marker {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 1000;
    transform: "translate(-50%, -50%)";
    box-shadow: 0 0 6px 2px rgba(255, 68, 0, 0.744);
}
